<h3 id="creator-__ID__" data-hidden-target>__ID__人目</h3>
<dl __DATA__>
    <dt>名前</dt>
    <dd>
      <div class="ec-halfInput{{ has_errors(form.name, form.name) ? ' error'}}">
          {{ form_widget(form.name) }}
          {{ form_errors(form.name) }}
      </div>
    </dd>
</dl>
<dl __DATA__>
    <dt>プロフィール</dt>
    <dd>
        <div class="ec-select{{ has_errors(form.profile, form.profile) ? ' error'}}">
            {{ form_widget(form.profile, { 'attr': { 'placeholder': "クリエーターのプロフィールをご記入ください。" }}) }}
            {{ form_errors(form.profile) }}
        </div>
    </dd>
</dl>
