{#
  出品者登録申請 申請画面
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% block title %}{{ 'admin.setting.system.member.member_registration'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.setting.system'|trans }}{% endblock %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block main %}
    <div class="ec-registerRole">
        <div class="ec-pageHeader">
            <h1>出品者登録申請</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <form name="member_form" role="form" id="member_form" method="post" action="" novalidate>
                    {{ form_widget(form._token) }}
                    <h2>◆出品者情報</h2>
                    <div class="ec-borderedDefs">
                        <dl>
                            <dt>名前</dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.name, form.name) ? ' error'}}">
                                    {{ form_widget(form.name) }}
                                    {{ form_errors(form.name) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>ログインID</dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.login_id, form.login_id) ? ' error'}}">
                                    {{ form_widget(form.login_id) }}
                                    {{ form_errors(form.login_id) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>パスワード</dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.password.first, form.password.first) ? ' error'}}">
                                    {{ form_widget(form.password.first, { 
                                        'attr': { 'placeholder': 'common.password_sample'|trans({ '%min%': eccube_config.eccube_password_min_len, '%max%': eccube_config.eccube_password_max_len }) },
                                        'type' : 'password'
                                    }) }}
                                    {{ form_errors(form.password.first) }}
                                </div>
                                <div class="ec-halfInput{{ has_errors(form.password.second, form.password.second) ? ' error'}}">
                                    {{ form_widget(form.password.second, { 
                                        'attr': { 'placeholder': 'common.repeated_confirm'|trans },
                                        'type' : 'password'
                                     }) }}
                                    {{ form_errors(form.password.second) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>メールアドレス</dt>
                            <dd>
                                <div class="ec-input{{ has_errors(form.email.first) ? ' error' }}">
                                    {{ form_widget(form.email.first, { 'attr': { 'placeholder': 'common.mail_address_sample' }}) }}
                                    {{ form_errors(form.email.first) }}
                                </div>
                                <div class="ec-input{{ has_errors(form.email.second) ? ' error' }}">
                                    {{ form_widget(form.email.second, { 'attr': { 'placeholder': 'common.repeated_confirm' }}) }}
                                    {{ form_errors(form.email.second) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>所属ギャラリー</dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.department, form.department) ? ' error'}}">
                                    {{ form_widget(form.department) }}
                                    {{ form_errors(form.department) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>出品者タイプ</dt>
                            <dd>
                                <div class="ec-select{{ has_errors(form.type, form.type) ? ' error'}}">
                                    {{ form_widget(form.type) }}
                                    {{ form_errors(form.type) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>出品者情報</dt>
                            <dd>
                                <div class="ec-select{{ has_errors(form.exhibitor_info, form.exhibitor_info) ? ' error'}}">
                                    {{ form_widget(form.exhibitor_info, { 'attr': { 'placeholder': "出品者の情報をご記入ください。登録の審査に使用します。" }}) }}
                                    {{ form_errors(form.exhibitor_info) }}
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <h2>◆クリエーター情報</h2>
                    <div id="creator-fields" class="ec-borderedDefs"
                            data-prototype="{% filter escape %}{{ include('Member/creator_info_prototype.twig', {'form': form.Creators.vars.prototype}) }}{% endfilter %}">
                        {% for child in form.Creators %}
                            {{ include('Member/creator_info_prototype.twig', {'form': child}) }}
                        {% endfor %}
                    </div>
                    <div class="ec-registerRole__actions">
                        <div class="ec-off4Grid">
                            <div class="ec-off4Grid__cell">
                                <button type="button" class="ec-blockBtn--cancel add-another-collection-widget" data-list="#creator-fields">＋クリエーター情報を追加する</button>
                            </div>
                        </div>
                    </div>
                    <div class="ec-registerRole__actions">
                        <div class="ec-off4Grid">
                            <div class="ec-off4Grid__cell">
                                <button class="ec-blockBtn--action" type="submit">申請する</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function () {
            var collectionHolder = $('#creator-fields');
            var index = collectionHolder.find('.delivery-time-item').length;

            // お届け時間設定の新規作成ボタンでお届け時間項目を追加する
            jQuery('.add-another-collection-widget').click(function (e) {

                // 追加するお届け時間名を取得
                var deliveryTimeName = $('#add-delivery-time-value').val();

                if (deliveryTimeName == '') {
                    return;
                }

                var prototype = collectionHolder.data('prototype');

                var newForm = prototype.replace(/__name__/g, index);
                newForm = newForm.replace(/__value__/g, deliveryTimeName);

                // 要素を追加
                $('#creator-fields').append(newForm);

                // お届け時間名を入れる
                var inputId = '#delivery_delivery_times_' + index + '_delivery_time';
                $(inputId).val(deliveryTimeName);

                // 入力欄を初期化
                $('#add-delivery-time-value').val('');

                // 要素数をインクリメント
                index++;
            });
        });
    </script>

{% endblock %}