{#
  出品者登録申請 申請画面
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% block title %}{{ 'admin.setting.system.member.member_registration'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.setting.system'|trans }}{% endblock %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block main %}
    <div class="ec-registerRole">
        <div class="ec-pageHeader">
            <h1>出品者登録申請</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <form name="member_form" role="form" id="member_form" method="post" action="" novalidate>
                    {{ form_widget(form._token) }}
                    <div class="ec-borderedDefs">
                        <dl>
                            <dt>名前</dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.name, form.name) ? ' error'}}">
                                    {{ form_widget(form.name) }}
                                    {{ form_errors(form.name) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>出品者タイプ</dt>
                            <dd>
                                <div class="ec-select{{ has_errors(form.department, form.department) ? ' error'}}">
                                    {{ form_widget(form.department) }}
                                    {{ form_errors(form.department) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>ログインID</dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.login_id, form.login_id) ? ' error'}}">
                                    {{ form_widget(form.login_id) }}
                                    {{ form_errors(form.login_id) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>パスワード</dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.password.first, form.password.first) ? ' error'}}">
                                    {{ form_widget(form.password.first, { type : 'password'}) }}
                                    {{ form_errors(form.password.first) }}
                                </div>
                            </dd>
                        </dl>
                        {# パスワード(確認) #}
                        <dl>
                            <dt>パスワード(確認)</dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.password.second, form.password.second) ? ' error'}}">
                                    {{ form_widget(form.password.second, { type : 'password'}) }}
                                    {{ form_errors(form.password.second) }}
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="ec-registerRole__actions">
                        <div class="ec-off4Grid">
                            <div class="ec-off4Grid__cell">
                                <button class="ec-blockBtn--action" type="submit">申請する</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}